In [1]:
%load_ext autoreload
%autoreload 2
%cd ~/Research/Sriram/DeepSetRNN

/u/home/m/minhle/Research/Sriram/DeepSetRNN

In [2]:
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np
from collections import defaultdict
import os
import string

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import logging
import os
import importlib

from src import convert_dot_format
from src import experiment_utils

In [3]:
logging.info("starting logger")
_LOGGER = logging.getLogger('preprocessing')
_LOGGER.setLevel(logging.DEBUG)

# Reading data

In [8]:
_ROOT_DATA_PATH = 'data/MIMIC3database/'
_PROCESSED_DATA_PATH = os.path.join(_ROOT_DATA_PATH, 'processed/MIMIC3EachPerson')

In [13]:
train_series_df = pd.read_csv(os.path.join(_PROCESSED_DATA_PATH, 'train_timeseries.csv'),
                              index_col=0,
                              nrows=1000)

train_labels_df = pd.read_csv(os.path.join(_PROCESSED_DATA_PATH, 'train_labels.csv'),
                              index_col=0,
                              nrows=1000)

In [15]:
train_labels_df

,Icustay,Ethnicity,Gender,Age,Height,Weight,Length of Stay,Mortality,Diagnosis 4019,Diagnosis 4280,...,Diagnosis 2869,Diagnosis 2763,Diagnosis 5770,Diagnosis V5865,Diagnosis 99662,Diagnosis 28860,Diagnosis 36201,Diagnosis 56210,SUBJECT_ID,ADMISSION_NUM
0,221100,0,1,71.990441,NaN,63.200001,2.1167,0,0,0,...,0,0,0,0,0,0,0,0,100,1
0,258326,0,2,69.754941,NaN,73.599998,36.7002,1,0,0,...,0,0,0,0,0,0,0,0,1000,1
0,216403,2,2,41.107157,NaN,NaN,1.4951,0,1,0,...,0,0,0,0,0,0,0,0,10003,1
0,268419,4,2,52.553274,NaN,NaN,0.7325,0,0,0,...,0,0,0,0,0,0,0,0,10004,1
0,279204,4,2,52.050853,NaN,100.000000,10.4665,0,1,0,...,0,0,0,0,0,0,0,0,10004,2
0,206504,2,1,70.684609,NaN,NaN,1.6325,0,0,1,...,0,0,0,0,1,0,0,0,10006,1
0,286008,4,1,55.332615,NaN,NaN,8.2914,0,0,0,...,0,0,0,0,0,0,0,0,10007,1
0,280464,4,1,53.756209,NaN,NaN,1.7126,0,0,0,...,0,0,0,0,0,0,0,0,10010,1
0,264446,0,1,87.145164,NaN,95.000000,2.6499,1,0,0,...,0,0,0,0,0,0,0,0,10013,1
0,240226,4,2,21.462955,NaN,NaN,0.9385,0,0,0,...,0,0,0,0,0,0,0,0,10014,1
0,204881,4,1,73.736401,NaN,NaN,2.1436,0,1,0,...,0,0,0,0,0,0,0,0,10017,1
0,265886,4,2,65.040802,NaN,152.800003,0.9106,0,0,0,...,0,0,0,0,0,0,0,0,1002,1
0,216002,4,2,41.869890,NaN,86.500000,1.1933,0,0,0,...,0,0,0,0,0,0,0,0,10021,1
0,284443,0,2,60.867543,NaN,120.000000,1.8504,0,0,0,...,0,0,0,0,0,0,0,0,10022,1
0,212418,2,2,69.163432,NaN,NaN,0.8334,0,0,0,...,0,0,0,0,0,0,0,0,10023,1
0,286020,4,1,82.549161,NaN,53.400002,7.2616,0,0,0,...,0,0,0,0,0,0,0,0,10027,1
0,211875,0,1,43.042541,NaN,85.300003,2.2327,0,0,0,...,0,0,0,0,0,0,0,0,10028,1
0,226055,4,2,78.505550,NaN,NaN,2.2624,0,0,1,...,0,0,0,0,0,0,0,0,10029,1
0,267090,4,2,88.085119,NaN,NaN,3.7120,0,0,0,...,0,0,0,0,0,0,0,0,10032,1
0,254543,4,1,81.680961,NaN,NaN,1.0695,0,1,0,...,0,0,0,0,0,0,0,0,10033,1
0,296804,4,2,75.941286,NaN,NaN,1.3755,0,0,0,...,0,0,0,0,0,0,0,0,10035,1
0,227834,4,1,90.000000,NaN,38.400002,1.8068,1,0,0,...,0,0,0,0,0,0,0,0,10036,1
0,278481,4,2,58.823972,NaN,NaN,1.0151,0,0,0,...,0,0,0,0,0,0,0,0,10037,1
0,235482,4,1,88.100020,NaN,81.599998,3.3857,0,1,1,...,0,1,0,0,0,0,0,0,10038,1
0,236800,4,1,55.979923,NaN,63.099998,6.0411,0,0,0,...,0,0,0,1,0,0,0,0,1004,1
0,215563,4,1,56.057294,NaN,52.299999,2.2444,1,1,0,...,0,0,0,0,0,0,0,0,1004,2
0,272047,0,1,85.393120,NaN,57.400002,2.1306,0,0,0,...,0,0,0,0,0,0,0,0,10040,1
0,202390,4,2,27.515214,NaN,105.199997,23.3916,0,0,0,...,0,0,0,0,0,0,0,0,10041,1
0,266122,4,2,76.071278,NaN,70.300003,2.0141,0,0,0,...,0,0,0,0,0,0,0,0,10043,1
0,270154,0,1,81.696124,NaN,70.300003,4.6179,0,0,0,...,0,0,0,0,0,0,0,0,10044,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,252320,2,1,45.134685,NaN,NaN,2.1254,0,1,1,...,0,0,0,0,0,1,0,0,11242,5
0,274707,2,1,46.317805,160.0,65.000000,1.9452,0,1,1,...,0,0,0,0,0,0,0,0,11242,6
0,234439,2,1,48.339584,NaN,68.300000,1.7550,0,1,1,...,0,0,0,0,0,0,0,0,11242,7
0,230857,4,1,90.000000,NaN,64.699997,0.7739,0,0,0,...,0,0,0,0,0,0,0,0,11243,1
0,235236,0,2,82.895657,NaN,80.000000,4.6951,0,0,0,...,0,0,0,0,0,0,0,0,11244,1
0,216249,2,2,56.380152,NaN,NaN,1.8417,0,0,0,...,0,0,0,0,0,0,0,0,11247,1
0,299844,4,2,75.075177,NaN,102.000000,4.0119,0,0,0,...,0,0,0,0,0,0,0,0,1125,1
0,294730,4,2,23.233950,NaN,NaN,1.1772,0,0,0,...,0,0,0,0,0,0,0,0,11254,1
0,235069,4,1,61.086596,NaN,123.300000,1.2934,0,0,0,...,0,0,0,0,0,0,0,0,11255,1
0,212199,4,1,62.007592,NaN,109.000000,3.9188,0,0,0,...,0,0,0,0,0,0,0,0,11255,2
0,283100,0,2,57.450296,NaN,92.000000,1.5120,0,0,0,...,0,0,0,0,0,0,0,0,11256,1
0,282616,0,2,67.028303,NaN,NaN,1.1257,0,1,1,...,0,0,0,0,0,0,0,0,11260,1
0,280369,4,2,75.876262,NaN,66.300003,4.0542,0,0,0,...,0,0,0,0,0,0,0,0,11262,1
0,209087,3,2,38.908973,NaN,NaN,2.6188,1,0,0,...,0,0,0,0,0,0,0,0,11265,1
0,210881,0,1,59.840200,NaN,58.200001,1.1510,0,0,0,...,0,0,0,0,0,0,0,0,11268,1
0,255516,4,2,46.977378,NaN,NaN,3.8719,0,0,0,...,0,0,0,0,0,0,0,0,11269,1
0,217928,4,2,41.846264,NaN,88.699997,3.8647,0,0,0,...,0,0,0,0,0,0,0,0,11270,1
0,267971,4,2,83.554655,NaN,73.500000,1.1918,0,0,1,...,0,0,0,0,0,0,0,0,11272,1
0,230942,0,1,50.085216,NaN,109.400002,4.6895,0,0,0,...,0,0,0,0,0,0,0,0,11275,1
0,232178,0,2,84.497165,NaN,90.300003,31.0424,0,0,0,...,0,0,0,0,0,0,0,0,11276,1
0,283196,4,2,43.569513,NaN,80.000000,3.0602,0,0,0,...,0,0,0,0,0,0,0,0,1128,1
0,248050,4,2,43.856783,NaN,74.800003,15.9748,0,0,1,...,0,0,0,0,0,0,0,0,11280,1
0,265076,4,2,83.711682,NaN,NaN,2.8667,0,0,0,...,0,0,0,0,0,0,0,0,11282,1
0,231203,4,2,76.193189,NaN,92.000000,6.9770,0,1,1,...,0,0,0,0,0,0,0,0,11283,1
0,255549,2,2,85.469065,170.0,72.200000,2.4130,0,0,0,...,0,0,0,0,0,1,0,0,11285,1
0,229980,0,2,81.616158,NaN,NaN,0.7662,0,1,0,...,0,0,0,0,0,0,0,0,11285,2
0,267966,4,2,79.580011,NaN,NaN,3.0459,0,0,0,...,0,0,0,0,0,0,0,0,11286,1
0,263302,0,1,51.020660,NaN,104.599998,1.0410,0,1,0,...,0,0,0,0,0,0,0,0,11287,1
0,286599,0,1,51.489990,NaN,101.900002,0.7901,0,0,1,...,0,0,0,0,0,0,0,0,11287,2
0,210060,4,1,75.598588,NaN,65.300003,1.1736,0,0,0,...,0,0,0,0,0,0,0,0,11288,1